# Pour les fichiers de configuration locaux
.env
node_modules/
npm-debug.log

# Pour le fichier de sauvegarde
*.bak
*.swp
*~

# Pour le fichier de verrouillage de package
package-lock.json

# pour le fichier de
up.js